@keyframes animation {
  from {background-color: yellow;} /*de*/
    to {background-color: red;} /*para*/

  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 500px; /*LARGURA*/
  height: 500px; /*ALTURA*/
  background-color: pink;
  animation-name: animation; 
  animation-duration: 7s; /*tempode de animação*/
  border-radius: 100%; /*circulo*/
}